<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ path('app_public_homepage') }}">
            <i class="fa-regular fa-star text-warning fa-lg"></i>
            SHOP SQUARE
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_public_homepage') }}">
                        Home
                    </a>
                </li>
                {# <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_product_index') }}">
                        Products
                    </a>
                </li> #}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_user_homepage') }}">
                        User
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_homepage') }}">
                        Admin
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
            </ul>

        </div>
    </div>
</nav>